/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
*{
  margin: 0;
}
.total-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.card{
  /* border: 2px solid red; */
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  border-radius: 6px;

  margin: 5px;
  /* text-align: center; */
  padding-bottom: 5px;
}
.card > img{
  width: 300px;
  height: 200px;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
}
.description{
    max-width: 300px;
    text-align: center;
}

.card-button{
  text-align: center;
}
.card-button > button{
  color: white;
  
  background-color: blue;
  border: none;
  border-radius: 5px;
  height: 30px;
  width: 200px;
  margin-top: 10px;
}
.price-rating{
  display: flex;
  justify-content: space-evenly;
}
.card-details{
  display: flex;
  justify-content: space-around;
}